# Build outputs
/dist/
*.exe
*.dll
*.so

# Go
/vendor/

# Cache & config locaux
*.db
*.db-shm
*.db-wal

# IDE
.vscode/
.idea/

# OS
Thumbs.db
desktop.ini

# Échanges temporaires (non versionnés)
/TMP/
